body{
    width: 100%;
}
.header-bg{
    background-color: #FFFBF0;
    ;
}
.button-style{
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
}
.penguin-color{
    color: #FABE4C;
}
.heding-font-size{
    font-size: 5rem;
}
.heading-img-size{
    width: 35rem;
}
.jaket-bg{
    background-color: #F1F1F1;
    border-radius: 1rem;
    width: 300px;
    height: 350px;
}
.price{
    font-size: 2.5rem;
    color: #FABE4C;
}
/* .contact-img{
    width: 138px;
    height: 138px;
} */